@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h2>Social networks logins</h2>
    @if (User.Identity.IsAuthenticated)
    {
        <p>Hi @User.Identity.Name!</p>
    }
    else
    {
        <p>Login with one of the social networks</p>
    }
</div>